<html>
  <head>
    <title>App Screenshot</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <style>
      .container {
        width: <%= config.width %>;
      }

      .title p {
        width: <%= config.width %>;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="title">
        <p>The Best Guide The Best Guide The Best Guide The Best Guide</p>
      </div>
      <img src="/images/bg-<%= query.device %>.png" />
      <img class="screenshot" src="/images/<%= config.name %>/<%= query.device %>/<%= query.index %>.png" />
    </div>
  </body>
</html>
